@media screen and (max-width: 945px){
    .wrapper{
        width: 98%;
    }
}
@media screen and (max-width: 850px){
    .header_nav{
        display: none;
    }
    .header_nav_phone{
        display: block;
    }
}
@media screen and (max-width: 800px){
    .footer_content{
        flex-direction: column;
        align-items: center;
    }
    .footer_content_items{
        width: 90%;
    }
    .footer_content_items:last-child{
        width: 90%;
    }
}
@media screen and (max-width: 750px){
    .section_expertise_content_1{
        flex-direction: column;
    }
    .section_expertise_content_1_items{
        width: 100%;
    }
    .section_expertise_content_1_items::before{
        display: none;
    }
    .section_expertise_content_1_items_title > p{
        max-width: 400px;
    }
    .section_expertise_content_1_items::after{
        position: absolute;
        content: "";
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: rgb(190, 190, 190);
    }
}
@media screen and (max-width: 700px){
    .section_ourstore{
        padding: 30px 0;
    }
    .section_ourstore_content{
        flex-direction: column;
    }
    .section_ourstore_content_img{
        width: 33%;
    }
    .section_ourstore_content_item{
        margin-top: 30px;
        width: 85%;
        align-items: center;
    }
    .section_ourstore_content_item_par{
        text-align: center;
    }
    .section_contact_content{
        flex-direction: column;
        align-items: center;
    }
    .section_contact_client{
        padding: 0;
        margin-top: 30px;
    }
    .section_contact_form_title{
        display: flex;
        justify-content: center;
    }
    .section_contact_form {
        width: 70%;
    }
    .section_contact_client {
        width: 70%;
    }
}
@media screen and (max-width: 700px){
    .section_team_content{
        flex-wrap: wrap;
    }
    .section_team_content_items{
        width: 49%;
    }
    .section_team_content_items:nth-child(3), .section_team_content_items:last-child{
        margin-top: 10px;
    }
}
@media screen and (max-width: 500px){
    .header_logo_all {
        width: 22%;
    }
    .section_home_title_heading{
        font-size: 22px;
    }
    .footer_content_items_par {
        margin: 25px 0 25px 0;
    }
    .section_team{
        padding: 45px 0;
    }
    .section_contact_form {
        width: 90%;
    }
    .section_contact_client{
        width: 90%;
    }
    .section_our_works{
        padding: 40px 0;
    }
    .section_our_works_title{
        flex-direction: column;
        margin-bottom: 40px;
    }
    .section_home_dotnav{
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 400px){
    .section_home_title_heading{
        font-size: 20px;
    }
    .section_team_content{
        justify-content: center;
    }
    .section_team_content_items{
        width: 96%;
        margin-top: 30px;
    }
    .section_team_content_items:nth-child(3), .section_team_content_items:last-child{
        margin-top: 30px;
    }
    .section_team_content_bottom_imgs{
        width: auto;
    }
    .section_team_content_bottom_imgs_item:nth-child(4) {
        width: 23%;
    }
    .section_team_content_bottom_imgs_item{
        width: 17%;
    }
    .section_team_content_bottom_imgs_item:nth-child(2), .section_team_content_bottom_imgs_item:nth-child(6){
        display: none;
    }
    .footer_content_items_par_p{
        font-size: 12px;
    }
}